.sidebar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-image: linear-gradient( to top, rgb(215, 222, 230), rgb(247, 242, 242)) 1 100%;
  border-left: 2px solid #dfeeff;

    app-search{
      width: 100%;
      display: flex;
      justify-content: center;
    }
}