<div class="latest-post-container">
    <header>
        <h4>Latest Post Activity</h4>
    </header>

    <div class="latest-post-wrapper">
        <div class="latest-post">
            <div class="post-img">
                <img src="assets/images/post-1.png" alt="">
            </div>
    
            <div class="post-info">
                <div class="post-title">
                    <a href="#"><h4>Minimalist Stairs</h4></a>
                </div>
    
                <div class="options">
                    <div class="like">
                        <fa-icon [icon]="faHeart"></fa-icon>
                        <span class="like-count">58</span>
                    </div>
                    <div class="comment">
                        <fa-icon [icon]="faCommentDots"></fa-icon>
                        <span class="comment-count">58</span>
                    </div>
                    <div class="bookmark">
                        <fa-icon [icon]="faBookmark"></fa-icon>
                        <span class="bookmark-count">5</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="post-footer">
            <a href="#">See All Posts</a>
        </div>
        
    </div>
    
</div>