<div class="stories-container">
    <div class="story user-story">
        <img src="assets/images/profile-2.jpg" alt="">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="name">You</span>
        <div class="overlay">
            
        </div>
    </div>
    <div class="story">
        <img class="isSeen" src="assets/images/profile-2.jpg" alt="">
        <span class="name">Supardi</span>
    </div>
    <div class="story">
        <img class="isSeen" src="assets/images/profile-2.jpg" alt="">
        <span class="name">Dean</span>
    </div>
    <div class="story">
        <img src="assets/images/profile-2.jpg" alt="">
        <span class="name">Theodore</span>
    </div>
    <div class="story">
        <img src="assets/images/profile-2.jpg" alt="">
        <span class="name">Walter</span>
    </div>
    <div class="story">
        <img src="assets/images/profile-2.jpg" alt="">
        <span class="name">Jesse</span>
    </div>
    <div class="story">
        <img src="assets/images/profile-2.jpg" alt="">
        <span class="name">Enola</span>
    </div>
</div>
